#mainheader {
  background: url("../img/front-image.jpg") repeat scroll center center transparent;
  background-size: auto 1000px;
  background-repeat: no-repeat;
}

#jumbotron-404 {
  background: url("../img/404.png") repeat scroll center center transparent;
  background-size: cover;
  background-repeat:no-repeat;
}

.footer {
    margin: 50px 0px 0px 0px;
    padding: 40px 0px;
    color: #999;
    text-align: center;
    background-color: #F8F8F8;
    border-top: 1px solid #E7E7E7;
}

* {
margin: 0;
}
html, body {
height: 90%;
}
.wrapper {
min-height: 100%;
height: auto !important;
height: 100%;
/*margin: 0 auto -4em;*/
}
/*.footer, .push {
height: 4em;
} */
